<div class="panel-body">
 

        <form #purchaseForm="ngForm">

                 <div class="form-group">
                        <label 
                            class="control-label required" 
                            for="notes">Notes:</label>         
                        <textarea type="text" 
                            class="form-control"                         
                            id="notes"
                            name="notes"
                            #notes="ngModel"
                            required
                            [(ngModel)]="purchase.notes"              
                            ></textarea> 
                            <div class="alert alert-danger"
                                *ngIf ="wasSubmittedService && notes.errors" >
                                        <span *ngIf="notes.errors.required">
                                            Notes is a required field.</span>                                                                     
                            </div>  
                                                         
                </div>  <!-- form-group-->
        </form>
</div> <!--panel-body-->                    